@import "/app/style/variables.scss";

.title {
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  margin: 0 auto;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 30px;

  @media screen and (min-width: $tablet-size) {
    width: 760px;
    grid-template-columns: 1fr 1fr;
  }
}
