$tablet-size: 768px;
$desctop-size: 1280px;

/* colors */

$main-bg-color: #ffffff;
$main-text-color: #000000;
/* $accient-color: #00d1ff; */

$primaryLightColor: #ffffff;
$accentColor: #076b81;
$accentColorOpacity: #076b8180;
