@import "/app/style/variables.scss";

.title {
  font-size: 16px;
  line-height: 1.33;
}

.text {
  font-size: 12px;
  line-height: 24px;
}

.subTitle {
  margin-top: 5px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 7px;

  margin-top: 10px;

  list-style: circle;
  list-style-position: inside;
}

.item {
  color: $accentColorOpacity;

  span {
    color: $mainTextColor;
  }
}
